@font-face {
		font-family: "ArimoRegular";
		src: url("ArimoRegular/ArimoRegular.eot");
		src: url("ArimoRegular/ArimoRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"),
		url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "ArimoBold";
		src: url("ArimoBold/ArimoBold.eot");
		src: url("ArimoBold/ArimoBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/ArimoBold/ArimoBold.woff") format("woff"),
		url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
    font-family: 'AntonRegular';
    src: url('Anton/AntonRegular.woff2') format('woff2'),
         url('Anton/AntonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}