section.slider
	#slider__slick
		.slider__img
			img(src='img/slide-1.jpg' alt='slide-1')
			.slider__title
				span A wide range of global business information
		.slider__img
			img(src='img/slide-2.jpg' alt='slide-2')
			.slider__title
				span A wide range of global business information
		.slider__img
			img(src='img/slide-3.jpg' alt='slide-3')
			.slider__title
				span A wide range of global business information
		.slider__img
			img(src='img/slide-2.jpg' alt='slide-2')
			.slider__title
				span A wide range of global business information