section.clients
	.container.clients__container
		.row
			.col-xs-24
				h2.clients__title Our Clients
		.clients__slider
			.clients__arrow.clients__arrow_prev
			.clients__arrow.clients__arrow_next
			.js-slick__clients
				+clients('collaboration')
				+clients('dorian')
				+clients('diplomat')
				+clients('green')
				+clients('rapid')