footer.footer
	.container.footer__container
		.row.footer__flexbox
			.col-md-8.col-xs-22.footer__col
				a(href="javascript:void(0);")
						span.logo.footer__logo Respect
				p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ultricies odio magna.
				.footer__copy
					span &copy; 2012
					a(href="javascript:void(0);").footer__copy_link Privacy Policy
			.col-md-8.col-xs-22.footer__col
				h4.footer__title Related Links
				.col-xs-12.footer__list
					ul
						li.footer__item
							a(href="javascript:void(0);").footer__item_link About Us
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Testimonials
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Our Staff
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Events &amp; Press
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Contact Us
				.col-xs-12.footer__list
					ul
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Sign Up
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Forums
						li.footer__item
							a(href="javascript:void(0);").footer__item_link Affiliate Program
						li.footer__item
							a(href="javascript:void(0);").footer__item_link FAQ
			.col-md-8.col-xs-22.footer__col
				h4.footer__title Follow Us
				.col-xs-12.footer__social
					ul
						li.footer__social_item
							a(href="javascript:void(0);").footer__social_link.rss RSS
						li.footer__social_item
							a(href="javascript:void(0);").footer__social_link.twitter Twitter
				.col-xs-12.footer__social
					ul
						li.footer__social_item
							a(href="javascript:void(0);").footer__social_link.facebook Facebook