section.menu
	.container.menu__container
		.row
			.col-xs-24.padding-none
				nav.menu__nav
					ul.menu__list.dropdown
						li.menu__item
							a(href="#").menu__link about Us 
							ul.menu__sub
								li
									a(href="#") Who We Are
								li
									a(href="#") News
								li
									a(href="#") Contacts
						li.menu__item
							a(href="#").menu__link services
						li.menu__item
							a(href="#").menu__link solutions
						li.menu__item
							a(href="#").menu__link Training
						li.menu__item
							a(href="#").menu__link support
						li.menu__item
							a(href="#").menu__link Clients
						li.menu__item
							a(href="#").menu__link contacts
							ul.menu__sub
								li
									a(href="#") Who We Are
								li
									a(href="#") News
								li
									a(href="#") Contacts
								li
									a(href="#") Lorem
								li
									a(href="#") ipsum
								li
									a(href="#") dolor

