section.services
	.container.services__container
		.row
			+servicesBlock('strategy', 'Our Business')
			+servicesBlock('write', 'Our Approach')
			+servicesBlock('link', 'Lead Generation')
			+servicesBlock('notebook', 'Corporate Governance')
			+servicesBlock('cog', 'Marketing Services')