section.services
	.container.services__container
		.row
			.col-xs-4.services__mr.padding-none
				a(href="javascript:void(0);").services__block
					.services__icon
						+svg('strategy', 'services__svg')
					h1.services__title Our Business
			.col-xs-4.services__mr.padding-none
				a(href="javascript:void(0);").services__block
					.services__icon
						+svg('write', 'services__svg')
					h1.services__title Our Approach
			.col-xs-4.services__mr.padding-none
				a(href="javascript:void(0);").services__block
					.services__icon
						+svg('link', 'services__svg')
					h1.services__title Lead Generation
			.col-xs-4.services__mr.padding-none
				a(href="javascript:void(0);").services__block
					.services__icon
						+svg('notebook', 'services__svg')
					h1.services__title Corporate Governance
			.col-xs-4.services__mr.padding-none
				a(href="javascript:void(0);").services__block
					.services__icon
						+svg('cog', 'services__svg')
					h1.services__title Marketing Services