section.slider
	.container.slider__container
		.row
			.col-xs-24.padding-none
				.slider__slick
					.js-slick__slider
						.slider__img
							img(src='static/img/content/slide-1.jpg' alt='slide-1')
							.slider__title
								span A wide range of global business information
						.slider__img
							img(src='static/img/content/slide-2.jpg' alt='slide-2')
							.slider__title
								span A wide range of global business information
						.slider__img
							img(src='static/img/content/slide-3.jpg' alt='slide-3')
							.slider__title
								span A wide range of global business information