h3.footer__title Follow Us
.follow-us__block
	.follow-us__column
		a(href="").follow-us__link
			.follow-us__icon.follow-us__icon_rss
			span RSS
		a(href="").follow-us__link
			.follow-us__icon.follow-us__icon_twitter
			span Twitter
	.follow-us__column
		a(href="").follow-us__link
			.follow-us__icon.follow-us__icon_fb
			span Facebook
.follow-us__block_xs
	a(href="").follow-us__link
		.follow-us__icon.follow-us__icon_rss
	a(href="").follow-us__link
		.follow-us__icon.follow-us__icon_twitter
	a(href="").follow-us__link
		.follow-us__icon.follow-us__icon_fb