html,
body {
	line-height: 1;
	font-size: 16px;
	color: $mainColor;
}

body {
	font-family: $mainFont;
	background-image: url(../img/general/main-bg.jpg);
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	outline: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

*::-webkit-input-placeholder {
	opacity: 1;
}
*:-moz-placeholder {
	opacity: 1;
}  
*::-moz-placeholder {
	opacity: 1;
}
*:-ms-input-placeholder {
	opacity: 1;
}


.logo {
	font-family: $fontLogo;
	text-transform: uppercase;
}

.btn {
	font-size: 0.688rem;
	padding: 10px 15px;
	background: $bgBtn;
	color: $colorBtn;
	text-transform: uppercase;
	border: none;
	&:hover {
		background: $bgBtnHover;
		color: $colorBtnHover;
	}
}