.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg__cog {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svg__link {
	font-size:(185/10)*1rem;
	width:(245/185)*1em;
}
.svg__notebook {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svg__strategy {
	font-size:(230/10)*1rem;
	width:(225/230)*1em;
}
.svg__write {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
