// FONTS
$mainFont: 'Arial', sans-serif;
$fontLogo: 'AntonRegular', 'Arial', sans-serif;
$fontTitle: "ArimoRegular", 'Arial', sans-serif;
$fontTitleBold: "ArimoBold", 'Arial', sans-serif;

// COLOR
$mainColor: #949494;
$colorLogo: #191818;
$colorLogoDescr: #1f2025;
$colorSearch: #eaeaea;
$colorNav: #eaeaea;
$colorNavHover: #1f2025;
$colorSliderTitle: #000000;
$colorServicesTitle: #e4e0dd;
$colorServicesTitleHover: #fffffe;
$colorServicesIcon: #ffffff;
$colorServicesIconHover: #000000;
$colorInfoTitle: #000000;
$colorBtn: #ffffff;
$colorBtnHover: #010000;
$colorClientsTitle: #000000;
$colorFooterLogo: #ffffff;
$colorFooterTitle: #ffffff;
$colorFooterText: #adadad;
$colorFooterNav: #adadad;
$colorFooterNavHover: #ffffff;
$colorFooterCopy: #ffffff;
$colorFooterSocial: #ffffff;
$colorFooterSocialHover: #adadad;

// BG
$bgTopLine: #151719;
$bgSearch: #1f2025;
$bgSearchInput: #fbfbfc;
$bgNav: #191a20;
$bgNavHover: #e5e4e2;
$bgNavShadow: rgba(0, 0, 0, 0.05);
$bgNavSub: #1f2025;
$bgSectionBordr: #f1f0ef;
$bgSlider: rgba(255, 255, 255, 0.5);
$bgServicesIcon: #000000;
$bgServicesIconHover: #efeded;
$bgServicesBorder: rgba(255, 255, 255, 0.5);
$bgBtn: #0f1013;
$bgBtnHover: #e4e0dd;

