// FONTS
$mainFont: 'Arial', sans-serif;
$fontLogo: 'AntonRegular', 'Arial', sans-serif;
$fontTitle: "ArimoRegular", 'Arial', sans-serif;
$fontTitleBold: "ArimoBold", 'Arial', sans-serif;

// COLOR
$mainColor: #949494;
$colorLogo: #191818;
$colorLogoDescr: #1f2025;
$colorSearch: #eaeaea;
$colorNav: #eaeaea;
$colorNavHover: #1f2025;
$colorSliderTitle: #000000;
$colorServicesTitle: #e4e0dd;
$colorServicesTitleHover: #fffffe;
$colorServicesIcon: #000000;
$colorServicesIconHover: #ffffff;
$colorArticleTitle: #000000;
$colorBtn: #ffffff;
$colorBtnHover: #010000;
$colorClientsTitle: #000000;
$colorFooterLogo: #ffffff;
$colorFooterTitle: #ffffff;
$colorFooterText: #adadad;
$colorFooterNav: #adadad;
$colorFooterNavHover: #ffffff;
$colorFooterCopy: #ffffff;
$colorFooterSocial: #ffffff;
$colorFooterSocialHover: #adadad;

// BG
$bgTopLine: #151719;
$bgSearch: #1f2025;
$bgSearchInput: #fbfbfc;
$bgNav: #191a20;
$bgNavHover: #e5e4e2;
$bgNavBorder: #2f3038;
$bgNavBorder: #eeece9;
$bgSectionBordr: #f1f0ef;
$bgSlider: #fff;
$bgServicesIcon: #000000;
$bgServicesIconHover: #efeded;
$bgBtn: #0f1013;
$bgBtnHover: #e4e0dd;

