a(href="").copyright__link__logo
	img(src="img/logo-footer.png" alt="RESPECT")
p.copyright__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ultricies odio magna.
.copyright__bottom-block
	span &copy; 2012&nbsp; &nbsp; | &nbsp; &nbsp;
	a(href="").copyright__link Privacy Policy