mixin infoBlock(title, img)
    .info__block
        h2.info__title= title
        .info__img
            img(src="img/"+img+".jpg" alt=""+img)
        .info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros non lectus ultrices rutrum. Sed in neque diam.
        .info__block-link
            a(href="#").info__btn.main-btn Read More