footer.footer
	.footer__wrapper
		.footer__row
			.footer__column.footer__column-1
				include copyright/copyright
			.footer__column.footer__column-2
				include related-links/related-links
			.footer__column.footer__column-3
				include follow-us/follow-us