// Показать сетку
.debug {
	@include debug(rgba(0, 0, 0, 0.2), 1px solid rgba(253, 255, 186, 0.5));
}

noscript { // Если JS не включен у пользователя
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	display: block;
	background: #851414;
	padding: 10px 0;
}

html {
	line-height: 1;
	font-size: 16px;
	@include xs-block {
		font-size: 14px;
	}
}

body {
	font-family: $mainFont;
	background-image: url(../img/general/main-bg.jpg);
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: $fontTitle;
}

ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

a {
	font-family: $fontLink;
	text-decoration: none;
	color: black;
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	outline: none;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

// PLACEHOLDER //
@mixin placeholder {
	opacity: 1;
}

*::-webkit-input-placeholder {
	@include placeholder;
}
*:-moz-placeholder {
	@include placeholder;
}
*::-moz-placeholder {
	@include placeholder;
}
*:-ms-input-placeholder {
	@include placeholder;
}

.top-line {
	border-top: 7px solid $bgTopLine;
}

.wrapper {
	@include wrapper;
}

.main-btn {
	font-size: 0.688rem;
	padding: 10px 15px;
	background: $bgBtn;
	color: $colorBtn;
	text-transform: uppercase;
	border: none;
	&:hover {
		background: $bgBtnHover;
		color: $colorBtnHover;
	}
}