$s-social__facebook: 0px 0px 0px 0px 16px 16px 47px 47px 'sprite.png';
$s-social__rss: 31px 0px -31px 0px 16px 16px 47px 47px 'sprite.png';
$s-social__twitter: 0px 31px 0px -31px 16px 16px 47px 47px 'sprite.png';
