.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg_cog {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svg_link {
	font-size:(185/10)*1rem;
	width:(245/185)*1em;
}
.svg_notebook {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svg_strategy {
	font-size:(230/10)*1rem;
	width:(225/230)*1em;
}
.svg_write {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
