.menu {
	@include row-flex;
	position: relative;
	z-index: 99;
	&__btn {
		display: none;
		color: $colorNav;
		width: 100%;
		background: $bgNav;
		border: none;
		padding: 20.5px 0;
		text-transform: uppercase;
		@include xs-block {
			display: block;
		}
	}
	&__nav {
		display: flex;
		justify-content: center;
		margin-bottom: 19px;
		width: 100%;
		@include xs-block {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 55px;
		}
		&.activ {
			display: block;
		}
	}
	&__item {
		width: 100%;
	}
	&__link {
		padding: 20.5px 0;
		display: block;
		font-family: $mainFont;
		font-size: 0.688rem;
		text-transform: uppercase;
		background: $bgNav;
		text-align: center;
		box-shadow: 0 6px 0 0 $bgNavShadow;
		color: $colorNav;
		&:hover,
		&.hover {
			background: $bgNavHover;
			color: $colorNavHover;
			position: relative;
		}
	}
	//&__sub {
	//	display: none;
	//	position: absolute;
	//	top: 57px;
	//	left: 0;
	//	width: 180px;
	//	border: 3px solid $bgNav;
	//	background: $bgNavSub;
	//	li {
	//		background: #f6f6f6;
	//		a {
	//			display: block;
	//			background: $bgNavSub !important;
	//			color: $colorNav !important;
	//			padding: 11px 38px;
	//			font-size: 0.625rem;
	//			&:hover {
	//				display: block;
	//				background: $bgNavHover !important;
	//				color: $colorNavHover !important;
	//			}
	//		}
	//	}
	//}
} 