section.menu
	//a.menu__btn
	//	+svg('menu', 'menu__btn_icon')
	nav.menu__nav
		spam.menu__item
			a(href="#").menu__link about Us
		spam.menu__item
			a(href="#").menu__link services
		spam.menu__item
			a(href="#").menu__link solutions
		spam.menu__item
			a(href="#").menu__link Training
		spam.menu__item
			a(href="#").menu__link support
		spam.menu__item
			a(href="#").menu__link Clients
		spam.menu__item
			a(href="#").menu__link contacts