mixin svg(name,mod)
	- mod = mod || ''
	svg(class="svg svg__" + name + ' ' + mod)
		use(xlink:href="static/img/svg/sprite.svg#" + name)



mixin servicesBlock(svgName, title)
	.col-xs-24.services__col.padding-none
		a(href="javascript:void(0);").services__block
			.col-xs-12.col-md-24
				.services__icon
					+svg(''+svgName, 'services__svg')
			.col-xs-12.col-md-24
				h3.services__title= title


mixin infoBlock(title, img)
	.col-md-8.col-xs-24
		.info__block
			h2.info__title= title
			.info__img
				img(src="static/img/content/"+img+".jpg" alt=""+img)
			.info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros non lectus ultrices rutrum. Sed in neque diam.
			a(href="javascript:void(0);").info__btn.main-btn Read More


mixin clients(img)
	a(href="javascript:void(0);").clients__img
		img(src="static/img/content/"+img+".png" alt=""+img)