include related-links__data

h3.footer__title.related-links__title Related Links
nav.related-links__list
	ul.related-links__column
		each item in items1
			li.related-links__item
				a(href="").related-links__link= item
	ul.related-links__column
		each item in items2
			li.related-links__item
				a(href="").related-links__link= item