.header {
	@include row-flex;
	@include sm-block() {
		flex-direction: column;
	}
	justify-content: space-between;
	padding-top: 46px;
	padding-bottom: 42px;
}

@import "logo/logo";
@import "search/search";