.footer {
	padding: 72px 0 93px;
	background-image: url(../img/general/bg.jpg);
	font-size: 0.75rem;
	&__col {
		padding: 0 49px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	&__logo {
		display: block;
		font-size: 1.75rem;
		color: $colorFooterLogo;
		margin-bottom: 25px;
	}
	&__text {
		color: $colorFooterText;
		font-weight: 400;
		line-height: 1.667;
		margin-bottom: 18px;
	}
	&__copy {
		color: $colorFooterCopy;
		span {
			border-right: 1px solid $colorFooterCopy;
			padding-right: 10px;
			margin-right: 10px;
		}
		&_link {
			color: $colorFooterCopy;
			text-decoration: underline;
			&:hover,
			&:focus {
				color: $colorFooterCopy;
				text-decoration: none;
			}
		}
	}
	
	&__title {
		font-family: $fontTitle;
		font-weight: 400;
		color: $colorFooterTitle;
		margin: 9px 0 25px;
	}
	&__list {
		padding: 0;
	}
	&__item {
		margin-bottom: 8px;
		&_link {
			color: $colorFooterNav;
			&:hover,
			&:focus {
				color: $colorFooterNavHover;
			}
		}
	}
	
	&__social {
		padding: 0;
		&_item {
			margin: 0 0 15px 25px;
		}
		&_link {
			@extend .footer__item_link;
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -25px;
				top: 50%;
				transform: translateY(-50%);
			}
			&.rss {
				&:before {
					@include sprite($s-social__rss);
				}
			}
			&.twitter {
				&:before {
					@include sprite($s-social__twitter);
				}
			}
			&.facebook {
				&:before {
					@include sprite($s-social__facebook);
				}
			}
		}
	}
}