.menu {
	&.dropdown {
		position: relative;
	}
	&__btn {
		display: none;
		margin: 0 auto;
		width: 40px;
		cursor: pointer;
		&:hover {
			background-color: transparent !important;
		}
		&_icon {
			width: 40px;
			height: 40px;
			margin: 0 auto;
			color: $bgNav;
		}
	}
	&__nav {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	&__item {
		font-family: $mainFont;
		font-size: 0.688rem;
		color: $colorNav;
		background: $bgNav;
		text-align: center;
		display: block;
		float: left;
		text-transform: uppercase;
		position: relative;
		box-shadow: 0 6px 0 0 $bgNavShadow;
		margin-bottom: 19px;
		width: 136px;
		a {
			display: block;
			padding: 23px 0;
			color: $colorNav;
			z-index: 2000;
			position: relative;
			&:hover,
			&.hover {
				background: $bgNavHover;
				color: $colorNavHover;
				position: relative;
			}
		}
	}
	a {
		&:hover {
			background: $bgNavHover;
			color: $colorNavHover;
		}
	}
	&__sub {
		display: none;
		position: absolute;
		top: 57px;
		left: 0;
		width: 180px;
		z-index: 1000;
		border: 3px solid $bgNav;
		background: $bgNavSub;
		li {
			background: #f6f6f6;
			a {
				display: block;
				background: $bgNavSub !important;
				color: $colorNav !important;
				padding: 11px 38px;
				font-size: 0.625rem;
				&:hover {
					display: block;
					background: $bgNavHover !important;
					color: $colorNavHover !important;
				}
			}
		}
	}
} 