.services {
	&__mr {
		background-image: url(../img/general/bg.jpg);
		margin-right: 17px;
		width: 178px;
		height: 210px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__block {
		width: 178px;
		height: 210px;
		display: block;
		padding: 30px 12px 0;
		&.hover {
			.services {
				&__icon {
					background: $bgServicesIconHover;
				}
				&__svg {
					color: $colorServicesIconHover;
				}
				&__title {
					color: $colorServicesTitleHover;
				}
			}
		}
	}
	&__icon {
		width: 81px;
		height: 81px;
		background: $bgServicesIcon;
		position: relative;
		margin: 0 auto 14px;
		border-radius: 50%;
	}
	&__svg {
		position: absolute;
		color: $colorServicesIcon;
		width: 40px;
		height: 40px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__title {
		font-family: $fontTitle;
		color: $colorServicesTitle;
		font-weight: 400;
		text-align: center;
		padding: 0 12px;
	}
}